@font-face {
    font-family: 'Circular Std';
    src: url(fonts/CircularStd-Book.ttf) format('truetype');
}

@font-face {
    font-family: 'Paralucent';
    src: url(fonts/Paralucent-DemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Circular Bold';
    src: url(fonts/FontsFree-Net-CircularStd-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Sketchit Means Sketchit';
    src: url(fonts/SketchitMeansSketchit-85o2.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Bold.ttf) format('truetype');
}

html {
    scroll-behavior: smooth;
}
body {

    color: white;      
    margin: 0 auto;
    overflow-x: hidden;

    
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
  }

  @keyframes slide-right {
    0% {
              left: 0%;
    }
    100% {
                left: 100%;
                
    }
  }





a {
    transition: all .2s ease-in-out;
    display: inline-block;
}



a:hover {
    transform: scale(1.03);
}

h1 {
    font-family: 'Paralucent', sans-serif;
    font-size: 2em;
}

h2 {
    font-family: 'Paralucent', sans-serif;
    font-size: 1.8em;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
}

p {
    font-family: 'Circular Std', sans-serif;
    
}

a {
    text-decoration: none;
    color: white;
}




.brown {
    background: linear-gradient(-45deg, #00052B, #00052B, #00052B, #110040,#110040 );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    
   
}

.slider {
    background-color: white;
    width: 100%;
    height: 1000px;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    z-index: 1;
    animation: slide-right 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
}


.container {
max-width: 450px;
    margin: auto;
    padding: 25px;
    
}



header {
    margin-top: 125px;
    text-align: center;
}

.pic__me {
    opacity: 0;
    animation: fade-in 0.75s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}



.pic__emojis {

    position: relative;
    display: flex;
    left: 220px;
    bottom: 60px;
    opacity: 0;
    animation: fade-in 0.75s ease;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
}

header h1 {
    margin-top: -20px;
    margin-bottom: 0px;
    opacity: 0;
    animation: fade-in 1s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    
}

header h3 {
    margin-bottom: -10px;
    opacity: 0;
    animation: fade-in 0.75s ease;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
}

.line {
    opacity: 0;
    animation: fade-in 0.5s ease;
    margin-left: -7px;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.scroll {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 120px;
}

.scroll span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1.5px solid white;
    border-right: 1.5px solid white;
    transform: rotate(45deg);
    opacity: 0;
    animation: scroll 1.5s ease infinite;
    animation-fill-mode: forwards;
    animation-delay: 2.25s;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(10px) rotate(45deg);
    }
}

article {
    margin-top: 100px;
} 

.extra {

    padding-top: 15px;
}
.arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -50px;
    margin-right: 30px;
}

.arrow__text {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -80px;
    margin-right: 2px;
    font-family: 'Sketchit Means Sketchit', sans-serif;
    font-size: 1em;
    transform: rotate(5deg);
}



.__tag {
    background-color: rgb(255, 255, 255);
    border: none;
    color: #00052B;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 2px;
    border-radius: 250px;
  }


  .under__line {
    margin-left: 40px;
    margin-top: -5px;
    display: block;
    padding-bottom: 50px;
  }


 


  
article a {
    font-family: 'Circular Bold', sans-serif;
    font-weight: bold;
}

.bold {
    font-family: 'Circular Bold', sans-serif;
}
.white {
    color: #00052B
}

.white p {
    color: #262626;
    margin-top: -10px;
}

.white h3 {
    color: #00052B;
}

.dot__scribble {
    position: relative;
    display: flex;
    top: 23px;
}

.date__title {
    margin-left: 36px;
    margin-top: -10px;
}

section {
    margin-top: 40px;
}

.experience {
    margin-top: 100px;
}

.experience h4 {
    color: #646464;
    font-family: 'Circular Std', sans-serif;
    font-weight: 500;
}

.experience h3 {
    color: #262626;
    margin-top: -15px;
    margin-bottom: 40px;
}

.experience img {
    top: 41px;
}

.experience p {
    font-weight: normal;
    margin-top: 20px;
    font-size: 1.1em;
}



footer {
    background: linear-gradient(-45deg, #00052B, #00052B, #00052B, #110040,#110040 );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 40px;
    text-align: center;
    padding-top: 40px;
    margin-top: 50px;
 }

 .footer__text p {
    color: white;
    font-size: 0.8em;
 }

 section a {
    color: #00052B;
    font-weight: bold;
 }


.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}



.portfolio__btn {
    display: flex;
    position: fixed;
    border-radius: 5px;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 18px;
    visibility: hidden;
    opacity: 0;
    animation: fade-in 0.75s ease forwards, gradient 10s ease infinite;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    transform: scale(1);
    background: linear-gradient(-45deg, #c868ee, #ff7190, #5364ff, #51ff91);
	background-size: 400% 400%;

}

.portfolio__btn a {
    color: white;
    font-family: 'Paralucent', sans-serif;
    font-weight: bold;
    padding: 12px 15px;
    font-size: 1em;
    
}

.cta {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 100px;
}

.work__btn {
    position: relative;
    background-color: white;
    font-family: 'Paralucent', sans-serif;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 1em;
    color: #ffffff;
    padding: 13px 15px;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: gradient 5s ease infinite;
    animation-fill-mode: forwards;
    transform: scale(1);
    background: linear-gradient(-450deg, #c868ee, #ff7190, #5364ff, #51ff91);
	background-size: 400% 400%;
    z-index: 1;

}

.buttons {
    margin-top: 50px;
    text-align: center;
    display: none;
}






.about__btn {
    position: relative;
    background-color: white;
    font-family: 'Paralucent', sans-serif;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 1em;
    color: #00052B;
    padding: 13px 15px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0;
    animation: fade-in 0.75s ease;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    transform: scale(1);
}






.exp__btn {
    position: relative;
    background-color: white;
    font-family: 'Paralucent', sans-serif;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 1em;
    color: #00052B;
    padding: 13px 15px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0;
    animation: fade-in 0.75s ease;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    transform: scale(1);
}

.port__btn {
    position: relative;
    background-color: white;
    font-family: 'Paralucent', sans-serif;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 1em;
    color: #00052B;
    padding: 13px 15px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0;
    animation: fade-in 0.75s ease;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transform: scale(1);
}

.space__unseen {
    height: 222px;
    width: 30px;
}

.space {
    width: 40px;
    margin-top: 50px;
    height: 70px;
    margin-bottom: -100px;

}





@media only screen and (min-width : 1050px) {
    .portfolio__btn {
        visibility: visible;
    }

    .buttons {
        display: block;
    }


    
}

@media only screen and (max-width : 400px) {
    .pic__emojis {
        left: 155px;
        bottom: 50px;
        
    }

    .slider {
        display: none;
    }

}